<launch>

  <arg name="use_camera_front" default="true"/>
  <arg name="use_camera_left" default="true"/>
  <arg name="use_camera_right" default="true"/>
  <arg name="use_camera_human" default="true"/>
  <arg name="use_camera_alexei" default="true"/>
  <arg name="use_camera_anna" default="true"/>
  <arg name="camera_fps" default="10"/>
  <arg name="use_audio" default="true"/>
<!-- use aplay -l to find audio port numbers for these arguments -->
<!-- make sure that the environment mic is plugged in before the headset to ensure default port numbers make sense -->


  <arg name="environment_audio" default="hw:5,0"/>
  <!-- <arg name="lavelier_audio" default=""/> -->

  <arg name="lavelier_audio" default="hw:6,0"/>


  <include file="$(find fri_sawyer)/launch/both.launch" />

  <include file="$(find fri_cameras)/launch/cameras.launch">
    <arg name="front" value="$(arg use_camera_front)" />
    <arg name="left" value="$(arg use_camera_left)" />
    <arg name="right" value="$(arg use_camera_right)" />
    <arg name="human" value="$(arg use_camera_human)" />
    <arg name="alexei" value="$(arg use_camera_alexei)" />
    <arg name="anna" value="$(arg use_camera_anna)" />
    <arg name="fps" value="$(arg camera_fps)" />
  </include>

<!-- this include block launches the audio publisher (on topic /audio/audio) -->
  <include file="$(find audio_capture)/launch/capture.launch">
    <arg name="device" value="$(arg environment_audio)" />
    <arg name="ns" value="environment" />
  </include>

  <include file="$(find audio_capture)/launch/capture.launch">
    <arg name="device" value="$(arg lavelier_audio)" />
    <arg name="ns" value="lavelier" />
  </include>

  <include file="$(find fri_project)/launch/recorder_topics.launch" >
    <arg name="use_anna" value="true"/>
    <arg name="use_alexei" value="true"/>
    <arg name="use_camera_front" value="$(arg use_camera_front)"/>
    <arg name="use_camera_left" value="$(arg use_camera_left)"/>
    <arg name="use_camera_right" value="$(arg use_camera_right)"/>
    <arg name="use_camera_human" value="$(arg use_camera_human)"/>
    <arg name="use_camera_alexei" value="$(arg use_camera_alexei)"/>
    <arg name="use_camera_anna" value="$(arg use_camera_anna)"/>
    <arg name="use_audio" value="$(arg use_audio)"/>
  </include>

  <!-- <include file="$(find fri_sawyer)/laoject)/../../data/"/>
  </include>unch/sawyer_recorder.launch">
  <arg name="node_start_delay" value="5.0"/>
    <arg name="dir_name" value="$(find fri_pr

  <include file="$(find fri_sawyer)/launch/sawyer_shadowing.launch">
    <arg name="node_start_delay" value="3.0"/>
  </include> -->

</launch>
